* {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body>header {
    background-color: blue;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

#btn-text-menu {
    margin: 0 30px;
}

i {
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    flex: 1;
}

#meme-container {
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 610px;
}

#top-text-container, #bottom-text-container {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background-color: #ffffff;
}

#meme-container p {
    font-size: 40px;
    color: #000000;
}

img {
    flex: 1;
    width: 100%;
}

#btn-download {
    background-color: #2e7d32;
    padding: 15px;
    margin-top: 30px;
}

#btn-download:hover, #btn-download:focus {
    background-color:  #1b5e20;
}

aside {
    background-color: lightblue;
    width: 260px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}
